Holder-sc-2013-pipeline-tests-git.aux
Holder-sc-2013-pipeline-tests-git.fdb_latexmk
Holder-sc-2013-pipeline-tests-git.log
Holder-sc-2013-pipeline-tests-git.nav
Holder-sc-2013-pipeline-tests-git.out
Holder-sc-2013-pipeline-tests-git.pdf
Holder-sc-2013-pipeline-tests-git.snm
Holder-sc-2013-pipeline-tests-git.synctex.gz
Holder-sc-2013-pipeline-tests-git.toc
positioning.aux
counts.txt
support-values.txt
